/*  
----- Colors -----
MAIN: #DCF9FF
SECONDARY: #2C3233
ALT1:
ALT2:
LINK HOVER COLOR: #DEF9FF


-- FONT SIZES --
HEADING3 : 8REM
TEXT-MAIN: 2REM
TEXT-SIDE-PANEL: 1.2REM
NAV: 1.8REM

-- PANEL PADDING ---
PANEL-CONTENT-PADDING : 1REM


-- MIN HEIGHT & MAX HEIGHT --
PANEL : 75REM // MINH
PANEL-CONTENT- 75REM // MAXH

*/

/* TESTERS FOR CSS // COLOR BLOCKS FOR TESTING */

/* .tester-blue {
  background: #00d9ff;
  height: 10rem;
}
.tester-green {
  background-color: green;
  width: 100%;
}
.tester-orange {
  background-color: orange;
  width: 100%;
  height: 10rem;
} */

/* END TESTERS  */

* {
  margin: 0;
  padding: 0;
  font-family: lato;
}
html {
  /* 10 * 16 = 0.625 = 62.5%  // 1rem = 10px */
  font-size: 62.5%;
}

body {
  background-color: rgb(255, 255, 255);
}
nav {
  font-size: 1.8rem;
}
section {
  width: 100%;
}
button:hover {
  cursor: pointer;
}

/* --- RESUSEABLE CSS PROPERTIES  */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.flex {
  display: flex;
}
.hidden {
  display: none !important;
}
.active-panel {
  background-color: #dcf9ff !important;
  color: #2c3233 !important;
}
.btn {
  color: white;
  font-size: 2rem;
  background-color: #2c3233;
  border: none;
  height: 5rem;
  width: 15rem;
}
.btn:hover {
  background-color: #4d5759;
}
.flex-row--reverse {
  display: flex;
  flex-direction: row-reverse;
}
/* ----- HEADER ---- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7.5rem;
  background-color: #2c3233;
  padding: 0 5rem;
  
}
.header img {
  width: 5%;
  height: 7.5rem;
  padding: 0, 48px;
}
.header h3 {
  color: rgb(255, 255, 255);
  font-size: 3rem;
  -webkit-text-stroke: 2px #dcf9ff;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}
/* ----- NAV BAR -----  */
.nav-bar {
  color: white;
}
.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav-list a {
  text-decoration: none;
}
.nav-list a:link,
.nav-list a:visited {
  display: inline-block;
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}
.nav-list a:active,
.nav-list a:hover {
  color: #00d9ff;
}
.cta-btn a:link,
.cta-btn a:visited {
  padding: 1.5rem;
  color: #2c3233;
  border-radius: 8px;
  background: #def9ff;
}
.cta-btn a:active,
.cta-btn a:hover {
  background: #00d9ff;
  color: #2c3233;
}
.nav-hamburger {
  display: none;
}
/* RENDERER ICONS  */
#render-icons--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#render-icons--center img {
  width: 10rem;
  padding: 2rem;
}
/* ----- HOME PAGE AND HERO SECTION ----- */
.homepage-section--1 {
  background-color: #dcf9ff;
  height: 100vh;
}
.hero-container--1 {
  color: white;
  font-size: 8rem;
  padding: 10rem;
  flex-direction: column;
}
.hero-content--1 {
  text-align: center;
  color: white;
}
.hero-content--1 h3 {
  color: white;
  -webkit-text-stroke: 2px #2c3233;
}
.hero-content--1 h3:nth-child(2) {
  color: #2c3233;
}
/* ----- SEARCH INPUT AND BUTTON ----- */
.hero-content--2 {
  text-align: center;
  color: white;
}
.hero-content--3 {
  background-image: url(imgs/Car\ tester.png);
  background-position: center;
  background-size: cover;
}
/* ----- INFO SECTION ----- */
.info-section {
  background-color: white;
}
.info-container {
  padding: 10rem;
}
.info-content--1 {
  flex-direction: column;
  align-items: center;
}
.info-content--1 h2 {
  font-size: 3rem;
}
.info-content--1 p {
  text-align: center;
  font-size: 1.8rem;
  padding: 2rem;
  margin-bottom: 5rem;
  line-height: 2.5rem;
}
.info-content--2 {
  justify-content: space-evenly;
  align-items: center;
}
.info-card {
  width: 25%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  box-shadow: 1px 2px 3px 1px black;
}
.card-logo {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card-logo img {
  width: 10rem;
  padding: 2rem;
}
.card-info {
  text-align: center;
  min-height: 35rem;
  padding: 1rem;
}
.info-card h3 {
  font-size: 1.8rem;
  padding: 1rem;
  height: 5rem;
}
.info-card p {
  font-size: 1.6rem;
  line-height: 2.5rem;
  text-align: left;
  padding: 2rem;
}
.info-btn--container {
  justify-content: center;
  padding: 5rem;
}
.info-btn {
  width: auto;
  padding: 1rem;
}
/* ----- TOOL SECTION ----- */
.tools-container {
  align-items: center;
  justify-content: center;
}
.tools-content--1 {
  padding: 0 5rem;
  padding-bottom: 5rem;
  flex-direction: column;
}
.tools-content--1 h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 2rem;
}
.tools-logos {
  justify-content: center;
  gap: 5rem;
}
.tool-mapbox {
  width: 40rem;
}
.tool-img {
  width: 15rem;
  padding: 2rem;
}
/* FOOTER   */
footer {
  height: 20vh;
  background-color: #2c3233;
}
.footer-nav {
  padding-left: 10rem;
  padding-top: 5rem;
  justify-content: left;
  color: #ffffff;
  font-size: 1.8rem;
}
/* -----  MAPBOX CONTAINER ----- */
.map-section--1 {
  background-color: #dcf9ff;
}
.map-container {
  background-color: #dcf9ff;
  color: #dcf9ff;
  justify-content: center;
  padding: 10rem;
  font-size: 2rem;
  transition-duration: 0.7s;
}
/* THE MAP BOX CONTROLLER // MAP ITSELF  */
#map {
  height: 95rem;
  width: 90rem;
  box-shadow: 1px 1px 5px 1px black;
}
.copyright {
  padding-left: 10rem;
  padding-top: 5rem;
  color: white;
}

/* ----- MAP SIDE BAR CONTENT ----  */
.panel {
  background-color: white;
  width: 30rem;
  height: 95rem;
}
.map-panel--content {
  background-color: #ffffff;
  width: 100%;
  color: #2c3233;
}
.current-content--weather {
  color: #2c3233;
}
.weather-info {
  background-color: rgb(80, 81, 81);
}

/*  ----- MAIN / TOP PANEL WEATHER STYLES -----  */
#location-name {
  text-align: center;
  font-size: 1.8rem;
}
#current-temp-f {
  font-size: 5rem;
}
.celsius {
  color: #2c3233;
}
.fahren {
  color: currentColor;
}
.current-temp-container {
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#current-temp-f,
#current-temp-c {
  font-size: 5rem;
  font-weight: 100;
}
.degree {
  color: lightgrey;
  font-size: 2rem;
  position: relative;
  bottom: 2rem;
  border: none;
  text-decoration: none;
  background-color: transparent;
}
.degree:hover {
  color: black;
}
.active-degree {
  color: black;
}
#location-name {
  text-align: center;
  font-size: 1.8rem;
}
.wind-humidity-container {
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.local-time--container {
  font-size: 1.2rem;
  padding: 2rem;
  flex-direction: column;
}
/* ----- PANEL BUTTON SELECTORS // TO SELECT BOTTOM PANEL DISPLAY ---- */
.button-selection-container {
  justify-content: center;
  width: 100%;
  padding-bottom: 2rem;
  background-color: white;
}
.button-panel--selectors {
  font-size: 1.2rem;
  color: #ffffff;
  padding: 1rem;
  border: none;
  background-color: #2c3233;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.button-panel--selectors:hover {
  color: #2c3233;
  background-color: #dcf9ff;
}
/* ---- HOURLY CHART -----  */
.hourly-slider--container {
  position: relative;
  justify-content: flex-start;
  padding: 1rem;
  height: 8rem;
  width: auto;
  overflow: hidden;
}
.hourly-slider--container:hover {
  cursor: grab;
}
.hourly-content {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
}
.hourly-chart {
  width: 5.2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}
.hourly-chart--time {
  margin-bottom: 0.5rem;
}
.hourly-weather--icon {
  width: 3rem;
}
.hourly-rain--container img {
  width: 0.8rem;
}
/* ----- WEEKLY FORECAST CONTENT PANEL  ----- */
.weekly-forecast--container {
  flex-direction: column;
  padding: 1rem;
}
.weekly-forecast--day {
  min-width: 5rem;
  max-width: 5rem;
}
.weekly-forecast--content {
  padding: 0.5rem;
  font-size: 1.2rem;
  gap: 1rem;
  align-items: center;
  justify-content: space-evenly;
}
.weekly-forecast--content img {
  width: 2rem;
}
.rain-chance {
  text-align: left;
  flex-direction: column;
  font-size: 1.2rem;
  min-width: 4rem;
}
.rain-chance img {
  width: 1rem;
}
.weekly-temp {
  font-size: 1.2rem;
  min-width: 5rem;
  max-width: 5rem;
}

/* ----- UV WIND AND HUMIDITY ----- */

.wind-uv--content {
  text-align: center;
  font-size: 1.2rem;
  padding: 2rem;
  justify-content: space-between;
  align-items: center;
}
.wind-uv--content img {
  width: 2rem;
  padding: 1rem;
}
.wind-content {
  text-align: center;
}
/*  ----- SUNRISE AND SUNSET  ----- */
.sunrise-sunset--content {
  font-size: 1.2rem;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  padding: 1rem;
}
.sunrise-sunset--content img {
  width: 5rem;
}

/* ----- MORE WEATHER INFORMATION ----- */
.more-weather--info {
  padding: 2rem;
  font-size: 1.2rem;
}
.more-weather--content {
  flex-direction: column;
}

/*  ----- LOADER CONTAINER FOR PANELS -----  */
.loader-panel--container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader-panel--container img {
  width: 8rem;
}
.no-opacity {
  opacity: 0;
}
.sun-loader img {
  width: 1rem;
}
/* ----- IMAGE GALLERY ----  */
.image-gallery--container {
  z-index: 5;
}
/* ---- INNER PANEL HEADER ---- */
.inner-panel--header {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 1.5rem;
}
/* ----- PAGINATION -----  */
.pagination {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
}
.pagination button {
  border: none;
  padding: 0.5rem;
  background-color: #2c3233;
  color: white;
}
.pagination button:hover {
  background-color: #def9ff;
  color: black;
}
/* ---- CARDS INSIDE PANEL  ---- */
.panel-loaded {
  min-height: 55rem;
}
.panel-content--1 {
  justify-content: center;
  flex-direction: column;
}
.panel-cards {
  gap: 1rem;
  width: 100%;
  font-size: 1.2rem;
  justify-content: start;
  margin-bottom: 1rem;
  min-height: 8rem;
}
.panel-cards:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px -7px black;
}
.panel-info--container {
  flex-direction: column;
  gap: 0.5rem;
}
.panel-photo img {
  width: 5rem;
}
/* .panel-photo img:hover {
  box-shadow: 1px 1px 5px -2px #00d9ff;
} */
.panel-info--1 address {
  margin: 0.5rem 0;
}
.panel-info--2 {
  align-items: center;
  justify-content: start;
  margin-top: 1rem;
}
.panel-info--2 a {
  text-decoration: none;
  color: #00d9ff;
  margin: 0.5rem;
}
.panel-info--2 button {
  padding: 0.3rem;
  border: none;
  background-color: #2c3233;
  color: white;
}
.panel-info--2 button:hover {
  background-color: #dcf9ff;
  color: black;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.trip-link {
  margin-right: 0.5rem;
  height: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.trip-link a:hover {
  color: #2c3233;
}

/* --- SAVES CSS --- */
.saves-section {
  font-size: 1.5rem;
  text-align: center;
}
.saves-section h2 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
}
.saves-section h3 {
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}
.saves-section h5 {
  text-align: center;
}
.saves-content {
  padding: 0 10rem;
  margin: 5rem;
}
.saves-content button {
  display: none;
}
/* CONFIRM SAVES & REMOVE */
.confirm {
  padding: 2rem;
  width: 20rem;
  border: 1px solid black;
  text-align: center;
  font-size: 1.5rem;
  box-shadow: 5px 5px 5px -5px black;
  background-color: white;
  z-index: 5;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  pointer-events: all;
}
.confirm-question {
  padding: 1rem;
}
.confirm-btn--container {
  padding: 0 2rem;
  text-align: center;
  font-size: 1.5rem;
  margin: 1rem;
}
.confirm-btn {
  padding: 0.5rem 2rem;
  border: none;
  background-color: #2c3233;
  color: white;
}
.confirm-btn:hover {
  background-color: #dcf9ff;
  color: black;
}
.wait-confirmation {
  opacity: 0.5 !important;
  background-color: #dcf9ff !important;
  pointer-events: none;
}
/* HOW TO CSS  */
.how-to--section {
  font-size: 1.5rem;
  background-color: antiquewhite;
}
.how-to--section h2 {
  font-size: 3rem;
  text-align: center;
  padding: 3rem;
}
.how-to--examples {
  height: fit-content;
}
.how-to--content {
  font-size: 1.5rem;
  padding: 1rem 5rem;
  justify-content: space-between;
  align-items: center;
  flex-direction: column-reverse;
  background-color: antiquewhite;
}
.how-container {
  line-height: 4rem;
  width: 75%;
  padding: 1rem;
}
.how-img {
  width: auto;
}
.how-container--img {
  width: 95%;
  overflow: scroll;
}
/* ----- INFO CONTAINER FOR SMALL MARGIN BETWEEN CP SCREEN SIZES -----  */
@media only screen and (max-width: 1440px) {
  .card-info {
    min-height: 48rem;
  }
}
/* ----- TABLET AND LANDSCAPE IPADS VIEW-----  */
@media only screen and (max-width: 1025px) {
  .header {
    padding: 0 2rem;
  }
  .cta-btn a:link,
  .cta-btn a:visited {
    padding: 1rem;
    font-size: 1.2rem;
  }
  .hero-container--1 {
    padding: 5rem;
  }
  .info-content--2 {
    flex-direction: column;
    gap: 3rem;
  }
  .info-container {
    padding: 6rem;
  }
  .info-card {
    width: 80%;
  }
  .info-card h3 {
    height: 1rem;
  }
  .card-info {
    text-align: center;
    min-height: 20rem;
    padding: 1rem;
  }
  .card-logo img {
    width: 6rem;
  }
  .panel {
    width: 100%;
    margin-bottom: 3rem;
  }
  .map-container {
    padding: 2rem;
    flex-direction: column-reverse;
  }
  #map {
    height: 50vh;
    width: 100%;
  }
  .tools-content--1 {
    padding: 0;
  }
  .tools-logos {
    flex-direction: column;
    align-items: center;
  }
  .footer-nav {
    padding: 5rem;
  }
  .copyright {
    padding-left: 5rem;
    padding-top: 0;
  }
  .how-to--content {
    padding: 0;
  }
  .how-container--img {
    width: 95%;
  }
}
/* ----- IPHONE & ANDROID -----  */
@media only screen and (max-width: 481px) {
  .header {
    padding: 0 0rem;
  }
  .header h3 {
    margin-left: 1rem;
  }
  .nav-list {
    flex-wrap: wrap;
  }
  .top-nav {
    display: none;
  }
  .nav-hamburger {
    display: block;
    font-size: 1.8rem;
    width: 5rem;
    height: 5rem;
    background-color: #2c3233;
    background-image: url(./imgs/hamburger-closed-2.png);
    background-size: cover;
    margin-right: 1rem;
  }
  .nav-list--hamburger {
    width: 100%;
    list-style: none;
    position: absolute;
    right: 0px;
    top: 6rem;
    z-index: 10;
  }
  .hamburger-container {
    border: 1px solid #2c3233;
    font-size: 1.8rem;
    text-decoration: none;
  }
  .hamburger-container li {
    border: 0.1px solid #2c3233;
    background-color: #2c3233;
    padding: 2rem;
  }
  .hamburger-container a {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    background-color: transparent;
  }
  .cta-btn a:link {
    background-color: transparent;
    padding: 0;
  }
  .hero-container--1 {
    padding: 4rem;
  }
  .hero-container--1 h3 {
    font-size: 6rem;
  }
  .card-info h3 {
    font-size: 1.2rem;
  }
  .card-info p {
    font-size: 1.2rem;
  }
  .info-container {
    padding: 1rem;
  }
  .info-content--1 h2 {
    padding-top: 2rem;
  }
  .info-content--1 p {
    font-size: 1.5rem;
  }
  .btn {
    font-size: 1.2rem;
    width: 12rem;
  }
  .tools-content--1 {
    padding: 0;
  }
  .tool-img {
    width: 10rem;
  }
  .tool-mapbox {
    width: 20rem;
  }
  .footer-nav {
    padding: 2rem;
    justify-content: center;
  }
  .copyright {
    text-align: center;
    padding-left: 0;
  }
}
